@model WAD.Models.Gig
@{
    Layout = "_CMSlayout";
    ViewData["Title"] = "Delete Gig";
}
<div class="dis-modal">

    <div class="dismodal-content">

        <form method="post">

            <input type="hidden" name="GigID" value="@Model.GigID" />

            <h1>Delete Gig @Model.GigTitle?</h1>

            <p><input type="submit" value="Delete" class="delete" style="background-color:red;text-decoration:none;"/></p>

            <p><a asp-controller="CMS" asp-action="Index" class="add" style="background-color:green;text-decoration:none;">Keep</a><br></p>

        </form>
    </div>
</div>