@model WAD.Models.GigForm
@{
    Layout = "_CMSlayout";
}

<div class="addContainer">

    <form asp-controller="CMS" asp-action="UpdateFilm">
        <input type="hidden" name="GigID" value="@Model.GigID" />
        <div>
            <label>Gig Title</label>
            <input asp-for="GigTitle" />
            <span asp-validation-for="GigTitle" class="error"></span>
        </div>

        <div>
            <label asp-for="GigDescription">Gig Description</label>
            <textarea asp-for="GigDescription"></textarea>
        </div>

        <div>
            <label asp-for="GigImage">Gig Image</label>
            <input type="text" asp-for="GigImage" />
        </div>

        <div>
            <label asp-for="GigPrice">Gig Price</label>
            <input type="text" asp-for="GigPrice" />
        </div>

        <div>
            <label asp-for="ReleaseDate">Release Date</label>
            <input type="date" asp-for="ReleaseDate" />
        </div>

        <div style="padding-top:10px; text-align:center;">
            <input type="submit" value="Update" class="add" />
        </div>

    </form>

</div>

